*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body{
	width:100%;
	height:100%;
}
.pause-bg{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#00465e;
	display:none;
	justify-content:center;
	align-items:center;
	.box{
		color:#fff;
		width:400px;
		text-align:center;
		.title{
			font-size:44px;
			line-height:80px;
		}
		.desc{
			font-size:20px;
			margin-bottom:20px;
		}
		button{
			width:100px;
			height:32px;
			color:#fff;
			font-size:20px;
			background:transparent;
			border:2px solid #fff;
			outline:none;
			&:active{
				color:#333;
				background:#fff;
			}
		}
	}
}