$cell-border-color:#c8e8f9;
$block-border-color:#16445e;
$mutable-inset-color:#51bc51;
$fixed-inset-color:#42f7f5;
$font-color:#0f6b9e;
$bg-color:#68a9bc;
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background:$bg-color;
}
@media screen and (min-width:990px){
	main{
		width:990px;
		position:relative
	}
	.header{
		position:absolute;
		left:50px;
		top:80px;
		.fa{
			display:block;
		}
	}
	.menu{
		width:287px;
		height:760px;
		flex-direction:column;
		align-items:center;
		justify-content:flex-end;
	}
	.btns,
	.panel{
		float:right;
	}
	
}
@media screen and (max-width:989px){
	main,
	.menu{
		width:226*3px;
	}
	.menu{
		justify-content:space-between;
	}
}
main{
	margin:0 auto;
	overflow:hidden;
}
.header{
	font-size:46px;
	color:#fff;
	text-align:center;
	line-height:100px;
	.fa{
		font-size:60px;
		vertical-align:-3px;
	}
}
.panel{
	color:$font-color;
	background:#fff;
	font-size:33px;
	text-align:center;
	width:226*3px;
	height:226*3px;
	display:flex;
	flex-wrap:wrap;
}
.btns{
	width:226*3px;
	margin-top:12px;
	display:flex;
	justify-content:space-between;
	button{
		width:65px;
		height:66px;
		outline:none;
		border:none;
		font-size:33px;
		color:$font-color;
		border-radius:6px;
		background:url(../img/number.png);
		&:active{
			filter:brightness(1.5);
		}
	}
}
.menu{
	display:flex;
	flex-wrap:wrap;
	button{
		border:none;
		outline:none;
		border-radius:6px;
		flex-shrink:0;
		margin-top:12px;
		&:active{
			filter:brightness(1.5);
		}
	}
	.btn{
		width:241px;
		height:60px;
		&:nth-child(1){
			background:url(../img/block.png);
		}
		&:nth-child(2){
			background:url(../img/incorrect.png);
		}
		&:nth-child(3){
			background:url(../img/guides.png);
		}
		&:nth-child(4){
			background:url(../img/hint.png);
		}
		&:nth-child(5){
			background:url(../img/menu.png);
		}
	}
	.btn-s{
		width:132px;
		height:65px;
		&:nth-child(1){
			background:url(../img/erase.png);
		}
		&:nth-child(2){
			background:url(../img/notes.png);
		}
	}
	
}
.block{
	width:74*3+4px;
	height:74*3+4px;
	border:2px solid $block-border-color;
	flex-shrink:0;
	display:flex;
	flex-wrap:wrap;
}
.cell{
	position:relative;
	width:74px;
	height:74px;
	line-height:74px;
	border:1px solid $cell-border-color;
	border-radius:8px;
	flex-shrink:0;
	.mask{
		display:none;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(255,255,0,0.2);
	}
}
.cell.masked .mask{
	display:block;
}
.cell.fixed{
	background:url(../img/cell-g.png);
}
.cell.mutable{
	background:url(../img/cell-b.png);
}
.cell.fixed.focus{
	box-shadow:inset 0 0 5px 3px $fixed-inset-color;
}
.cell.blank.focus,
.cell.mutable.focus{
	box-shadow:inset 0 0 5px 4px $mutable-inset-color;
}
