* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Microsoft YaHei'; }

body {
  background: #68a9bc; }

@media screen and (min-width: 990px) {
  main {
    width: 990px;
    padding-top: 50px;
    position: relative; }

  .header {
    position: absolute;
    left: 50px;
    top: 30px; }
    .header .link {
      display: block; }

  .menu {
    width: 275px;
    height: 760px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }

  .btns,
  .panel {
    float: right; } }
@media screen and (max-width: 989px) {
  main,
  .menu {
    width: 678px; }

  .menu {
    justify-content: space-between; } }
main {
  margin: 0 auto;
  overflow: hidden; }

.header {
  font-size: 46px;
  text-align: center;
  line-height: 100px;
  color: #fff; }
  .header .back {
    float: left; }
  .header .pause {
    float: right; }
  .header .fa {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 60px;
    vertical-align: -3px; }

.panel {
  color: #0f6b9e;
  background: #fff;
  font-size: 33px;
  text-align: center;
  width: 678px;
  height: 678px;
  display: flex;
  flex-wrap: wrap; }

.btns {
  width: 678px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between; }
  .btns .tips {
    box-shadow: inset 0 0 5px 4px #605ca8; }
  .btns button {
    position: relative;
    width: 65px;
    height: 66px;
    outline: none;
    border: none;
    font-size: 33px;
    color: #0f6b9e;
    border-radius: 6px;
    background: url(../img/number.png); }
    .btns button span {
      position: absolute;
      font-size: 24px;
      right: 5px;
      top: 5px;
      display: none; }
    .btns button:active {
      filter: brightness(1.5); }

.show-note button span {
  display: block; }

.menu {
  display: flex;
  flex-wrap: wrap; }
  .menu button {
    border: none;
    outline: none;
    border-radius: 6px;
    flex-shrink: 0;
    margin-top: 12px; }
    .menu button:active {
      filter: brightness(1.5); }
  .menu .btn {
    width: 241px;
    height: 60px;
    text-align: left;
    padding-left: 10px; }
    .menu .btn .fa {
      font-size: 60px;
      color: #01639b;
      vertical-align: middle; }
    .menu .btn .txt {
      font-size: 16px;
      color: #0f6b9e;
      line-height: 60px;
      margin-left: 26px; }
  .menu .block {
    background: url(../img/block.png); }
  .menu .show-i {
    background: url(../img/incorrect.png); }
  .menu .show-g {
    background: url(../img/guides.png); }
  .menu .hint {
    font-size: 18px;
    color: #0f6b9e;
    text-align: right;
    padding-right: 10px;
    background: url(../img/hint.png); }
  .menu .help {
    color: #0f6b9e;
    font-size: 16px;
    padding-left: 95px;
    background: url(../img/help.png); }
  .menu .restart {
    background: url(../img/restart.png); }
  .menu .new-game {
    background: url(../img/newgame.png); }
  .menu .btn-s {
    width: 132px;
    height: 65px; }
  .menu .erase {
    background: url(../img/erase.png); }
  .menu .notes {
    background: url(../img/notes.png); }

.block {
  width: 226px;
  height: 226px;
  border: 2px solid #16445e;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap; }

.cell {
  position: relative;
  width: 74px;
  height: 74px;
  line-height: 74px;
  border: 1px solid #c8e8f9;
  border-radius: 8px;
  flex-shrink: 0; }
  .cell .mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.2); }
  .cell .cross {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .cell .cross:before {
      position: absolute;
      display: block;
      content: '';
      left: 50%;
      width: 3px;
      height: 100%;
      background: #951727;
      transform: rotate(45deg); }
    .cell .cross:after {
      position: absolute;
      display: block;
      content: '';
      left: 50%;
      width: 3px;
      height: 100%;
      background: #951727;
      transform: rotate(-45deg); }

.cell.masked .mask {
  display: block; }

.cell.incorrect .cross {
  display: block; }

.cell.fixed {
  background: url(../img/cell-g.png); }

.cell.mutable {
  background: url(../img/cell-b.png); }

.cell.fixed.focus {
  box-shadow: inset 0 0 5px 3px #42f7f5; }

.cell.blank.focus,
.cell.mutable.focus {
  box-shadow: inset 0 0 5px 4px #51bc51; }

/*# sourceMappingURL=style.css.map */
