$cell-border-color:#c8e8f9;
$block-border-color:#16445e;
$mutable-inset-color:#51bc51;
$fixed-inset-color:#42f7f5;
$btn-inset-color:#605ca8;
$font-color:#0f6b9e;
$bg-color:#68a9bc;
$cross-color:#951727;
$icon-color:#01639b;
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Microsoft YaHei';
}
body{
	background:$bg-color;
}
@media screen and (min-width:990px){
	main{
		width:990px;
		padding-top:50px;
		position:relative
	}
	.header{
		position:absolute;
		left:50px;
		top:30px;
		.link{
			display:block;
		}
	}
	.menu{
		width:275px;
		height:760px;
		flex-direction:column;
		align-items:center;
		justify-content:flex-end;
	}
	.btns,
	.panel{
		float:right;
	}
	
}
@media screen and (max-width:989px){
	main,
	.menu{
		width:226*3px;
	}
	.menu{
		justify-content:space-between;
	}
}
main{
	margin:0 auto;
	overflow:hidden;
}
.header{
	font-size:46px;
	text-align:center;
	line-height:100px;
	color:#fff;
	.back{
		float:left;
	}
	.pause{
		float:right;
	}
	.fa{
		margin-top:20px;
		color:#fff;
		text-decoration:none;
		font-size:60px;
		vertical-align:-3px;
	}
}
.panel{
	color:$font-color;
	background:#fff;
	font-size:33px;
	text-align:center;
	width:226*3px;
	height:226*3px;
	display:flex;
	flex-wrap:wrap;
}
.btns{
	width:226*3px;
	margin-top:12px;
	display:flex;
	justify-content:space-between;
	.tips{
		box-shadow:inset 0 0 5px 4px $btn-inset-color;
	}
	button{
		position:relative;
		width:65px;
		height:66px;
		outline:none;
		border:none;
		font-size:33px;
		color:$font-color;
		border-radius:6px;
		background:url(../img/number.png);
		span{
			position:absolute;
			font-size:24px;
			right:5px;
			top:5px;
			display:none;
		}
		&:active{
			filter:brightness(1.5);
		}
	}
}
.show-note button span{
	display:block;
}
.menu{
	display:flex;
	flex-wrap:wrap;
	button{
		border:none;
		outline:none;
		border-radius:6px;
		flex-shrink:0;
		margin-top:12px;
		&:active{
			filter:brightness(1.5);
		}
	}
	.btn{
		width:241px;
		height:60px;
		text-align:left;
		padding-left:10px;
		.fa{
			font-size:60px;
			color:$icon-color;
			vertical-align:middle;
		}
		.txt{
			font-size:16px;
			color:$font-color;
			line-height:60px;
			margin-left:26px;
		}
	}
	.block{
		background:url(../img/block.png);
	}
	.show-i{
		background:url(../img/incorrect.png);
	}
	.show-g{
		background:url(../img/guides.png);
	}
	.hint{
		font-size:18px;
		color:$font-color;
		text-align:right;
		padding-right:10px;
		background:url(../img/hint.png);
	}
	.help{
		color:$font-color;
		font-size:16px;
		padding-left:95px;
		background:url(../img/help.png);
	}
	.restart{
		background:url(../img/restart.png);
	}
	.new-game{
		background:url(../img/newgame.png);
	}
	.btn-s{
		width:132px;
		height:65px;
	}
	.erase{
		background:url(../img/erase.png);
	}
	.notes{
		background:url(../img/notes.png);
	}
}
.block{
	width:74*3+4px;
	height:74*3+4px;
	border:2px solid $block-border-color;
	flex-shrink:0;
	display:flex;
	flex-wrap:wrap;
}
@mixin cover{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
@mixin bar{
	position:absolute;
	display:block;
	content:'';
	left:50%;
	width:3px;
	height:100%;
	background:$cross-color;
}
.cell{
	position:relative;
	width:74px;
	height:74px;
	line-height:74px;
	border:1px solid $cell-border-color;
	border-radius:8px;
	flex-shrink:0;
	.mask{
		@include cover;
		background-color:rgba(255,255,0,0.2);
	}
	.cross{
		@include cover;
		&:before{
			@include bar;
			transform:rotate(45deg);
		}
		&:after{
			@include bar;
			transform:rotate(-45deg);
		}
	}
}
.cell.masked .mask{
	display:block;
}
.cell.incorrect .cross{
	display:block;
}
.cell.fixed{
	background:url(../img/cell-g.png);
}
.cell.mutable{
	background:url(../img/cell-b.png);
}
.cell.fixed.focus{
	box-shadow:inset 0 0 5px 3px $fixed-inset-color;
}
.cell.blank.focus,
.cell.mutable.focus{
	box-shadow:inset 0 0 5px 4px $mutable-inset-color;
}
